<!DOCTYPE html>
<html>
    <head>
        <title> Anime Info</title>
    </head>
    <body>
       
       
        <div class=' flex items-center justify-center max-w-[1200px] mx-auto'>
            <div class='w-full'> 
              {% extends "navbar.html" %} {% block content %}
            </div>
          </div>
        <div class='max-w-[1200px] p-10 mx-auto flex items-center justify-center '>
          <div>
            <article class="overflow-hidden flex shadow transition hover:shadow-lg">

                    <img
                  alt="Office"
                  src={{ context ['img_url'] }}
                  class=" mt-10 mb-10 ml-6 object-cover"
                />
            
                <div class="bg-white p-4 sm:p-6">
              
                <div class='flex justify-between items-center'>
                    <a href="#">
                        <h3 class="mt-0.5 text-lg text-gray-900">
                          {{context['title']}}
                        </h3>
                      </a>

                      <p>{{context['status']}}</p>
                </div>
              
                  <p class="mt-2 mb-2 text-sm leading-relaxed text-gray-500 line-clamp-3">

                    {{context['synopsis']}}
                    

                  </p>

                  <ul class='ml-5 flex gap-5 items-center justify-center'>
                    <h3 class=" text-lg text-gray-900">
                        Genre:
                      </h3>
                    <div class='flex gap-5'>
                      {{context['genre']}}
                    </div>
                  </ul>
                  <div>
                 
                  {% for i in range(1,context['episodes']+1) %}
                  <a href={{url_for('video',anime_name= context['title'],ep_id=i)}}>
                  {{i}}
                  </a>
                  {% endfor %}
                  </div>
                </div>
              </article>
          </div>
        </div>
        {% endblock content %}
    </body>
</html>