<!DOCTYPE html>
<html>
    <head>
        <title> Anime Info</title>
    </head>
    <body>
       
       
        <div class=' flex items-center justify-center max-w-[1200px] mx-auto'>
            <div class='w-full'> 
              {% extends "navbar.html" %} {% block content %}
            </div>
          </div>
        <div class='max-w-[1200px] p-10 mx-auto flex items-center justify-center mt-10'>
          <div>
            <article class="overflow-hidden flex shadow transition hover:shadow-lg">

                    <img
                  alt="Office"
                  src={{ context ['img_url'] }}
                  class="h-56 mt-10 ml-6 w-full object-cover"
                />
            
                <div class="bg-white p-4 sm:p-6">
              
                <div class='flex justify-between items-center'>
                    <a href="#">
                        <h3 class="mt-0.5 text-lg text-gray-900">
                          Name
                        </h3>
                      </a>

                      <p>Rating : 6.9</p>
                </div>
              
                  <p class="mt-2 mb-2 text-sm leading-relaxed text-gray-500 line-clamp-3">

                    {{context['synopsis']}}
                    {{context['img_url']}}

                  </p>

                  <ul class='ml-5 flex gap-5 items-center justify-center'>
                    <h3 class=" text-lg text-gray-900">
                        Genre:
                      </h3>
                    <div class='flex gap-5'>
                        <li>List item 1</li>
                    <li>List item 1</li>
                    <li>List item 1</li>
                    <li>List item 1</li>
                    <li>List item 1</li>
                    </div>
                  </ul>
                </div>
              </article>
          </div>
        </div>
        {% endblock content %}
    </body>
</html>